<h1>Listing users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td>
            <%= link_to 'Show', user, class: "btn btn-xs btn-success" %>
            <%= link_to 'Edit', edit_user_path(user), class: "btn btn-xs btn-warning" %>
            <%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-xs btn-danger" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
