<div class="jumbotron">
  <h1>ROR</h1>
  <p class="lead">Ruby on Rails Yıldızlarının Geliştirici Adresi.</p> <p>Biz İyi Biliriz</p>
  <p> <%= link_to "Biz Çok iyi Biliriz!", "#", :class => "btn btn-lg btn-success" %> </p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
        <h4>  Başlık </h4>
        <p>   blah blah  </p>
  </div>
  <div class="col-lg-6">

        <h4>  Başlık   </h4>
        <p>   Blah Blah    </p>

  </div>
</div>